---
import { Mail, MapPin, Clock } from "@lucide/astro";
---

<div class="contact-info-card">
  <h3>Trabajemos en algo juntos</h3>
  <ul class="contact-info-list">
    <li class="contact-info-item">
      <span class="contact-info-icon">
        <Mail size="24" aria-hidden="true" />
      </span>
      <div>
        <strong> Mi correo</strong><br />
        <span>idontcarelucas@gmail.com</span>
      </div>
    </li>
    <li class="contact-info-item">
      <span class="contact-info-icon">
        <MapPin size="24" aria-hidden="true" />
      </span>
      <div>
        <strong>Disponibilidad</strong><br />
        <span>Practicamente en todo el mundo</span>
      </div>
      <li class="contact-info-item">
        <span class="contact-info-icon">
          <Clock size="24" aria-hidden="true" />
        </span>
        <div>
          <strong>Tiempo de espera</strong><br />
          <span>En menos de 12 horas</span>
        </div>
      </li>
    </li>
  </ul>
</div>
