---
import { Linkedin, Github } from "@lucide/astro";
---

<div class="social-links-card">
  <h3>Contactame por medio de redes sociales</h3>
  <div class="social-links">
    <a href="https://github.com/lucasazana" target="_blank" rel="noopener">
      <Linkedin size="24" aria-label="LinkedIn" /> LinkedIn
    </a>
    <a
      href="https://www.linkedin.com/in/lucas-aza%C3%B1a-232bb3338/"
      target="_blank"
      rel="noopener"
    >
      <Github size="24" aria-label="GitHub" /> GitHub
    </a>
  </div>
</div>
