---
interface Props {
  icon: any;
  title: string;
  description: string;
  dataI18nTitle?: string;
  dataI18nDesc?: string;
}

const {
  icon: Icon,
  title,
  description,
  dataI18nTitle,
  dataI18nDesc,
} = Astro.props;
---

<div class="skill-card">
  <div class="skill-header">
    <div class="skill-icon">
      <Icon size="32" />
    </div>
    <h3 class="skill-title" data-i18n-title={dataI18nTitle}>{title}</h3>
  </div>
  <p class="skill-description" data-i18n-desc={dataI18nDesc}>{description}</p>
</div>
