@import "./base/reset.css";
@import "./base/typography.css";
@import "./base/utilities.css";
@import "./base/components/buttons.css";
@import "./base/components/cards.css";
@import "./base/components/forms.css";
@import "./themes/variables.css";
@import "./themes/dark.css";
@import "./themes/light.css";

@font-face {
  font-family: "Caluxe";
  src: url("/fonts/Caluxe/Caluxe.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Caluxe", "Inter", system-ui, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}
